@charset "utf-8";

html, body {
  width: 100%;
  height: 100%;
}

legend, .blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: medium;
  line-height: normal;
  white-space: nowrap;
}

.u_skip {
  position: relative;
  
  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 138px;
    border: 1px solid #4ec53d;
    background-color: #333;
    text-align: center;
  }

  span {
    display: inline-block;
    padding: 2px 6px 0 0;
    color: #fff;
    letter-spacing: -1px;
    font-size: 13px;
    line-height: 26px;
    white-space: nowrap;
  }
}

.wrap {}